<li id="micropost-<%= @micropost.id %>" data-micropost-id="<%= @micropost.id %>">
  <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
  <span class="user-detail"><%= link_to @micropost.user.name, @micropost.user %></span>
  <% if current_user?(@micropost.user) %>
    <%= link_to "削除", @micropost, class: "micropost-delete-detail btn btn-sm btn-primary", method: :delete,
                                     data: { confirm: "削除してもよろしいですか？" } %>
  <% end %>
  </li>
  <span class="content-detail">
    <%= @micropost.content %>
  </span>
  <span class="picture-detail">
    <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </span>
  <li id="micropost">
  <span class="timestamp">
    Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  </span>
  <%= render "likes/like", micropost: @micropost %>
</li>
<div class="comment_index">
  <h3>Comments</h3>
  <% @micropost.comments.each do |comment| %>
         <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
         <p><%= link_to "#{comment.user.name}" , @user %>: <%= comment.body %>
        <!--<%#<span> <%= image_tag comment.picture.url if comment.picture?%></span> %>-->
    <span class= "batu"><%= link_to "このコメントを削除する" , [@micropost,comment] , method: :delete if current_user?(comment.user) %></span></p>
    <hr/>
  <% end %>
  </div>
<div class="comment-form">
      <%= form_for([@micropost , @comment]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :body, placeholder: "Send comment..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <!--<%#
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    %>-->
    <% end %>

  <script type="text/javascript">
    $('#micropost_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/500/500;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>
  </div>
